<mat-card>Ingrese los datos del estudiante</mat-card>

<br>


<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #frmPaciente="ngForm">

  <div [hidden]="true">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID" required formControlName="id">
    </mat-form-field>
  </div>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Name" required formControlName="name">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Apellido Paterno" required formControlName="paternalLastname">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Apellidos Materno" required formControlName="maternalLastname">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="DNI" required formControlName="dni" type="number">
  </mat-form-field>

  <form>
    <h4>Grado Educativo</h4>
    <mat-form-field>
      <mat-label>{{selectedNivelText}}</mat-label>
      <mat-select [(ngModel)]="selectedNivel" name="grado">
        <mat-option *ngFor="let grado of nivelesEducativos" [value]="grado.id">
          {{grado.grade}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <h4>Asignar Apoderado</h4>
    <mat-form-field>
      <mat-label>{{selectedApoderadoText}}</mat-label>
      <mat-select [(ngModel)]="selectedApoderado" name="apoderado">
        <mat-option *ngFor="let apoderado of apoderados" [value]="apoderado.id">
          {{apoderado.name + " "+apoderado.paternalLastname}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <!-- <button mat-raised-button color="primary" type="submit" [disabled]="frmPaciente.invalid">-->
  <button mat-raised-button color="primary" type="submit">
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>
  <button mat-raised-button color="accent" routerLink='/estudiante' type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>
</form>