<mat-card>Ingrese los datos del paciente</mat-card>

<br>


<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #frmPaciente="ngForm">

  <div [hidden]="true">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID" required formControlName="id">
    </mat-form-field>
  </div>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nombres" required formControlName="nombres">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Apellido Paterno" required formControlName="apellidopa">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Apellidos Materno" required formControlName="apellidoma">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="DNI" required formControlName="dni" type="number">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" required formControlName="email">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Teléfono" required formControlName="phone" type="number">
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Fecha Nacimiento" [max]="maxFecha"
      formControlName="birthdate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>


  <!-- <button mat-raised-button color="primary" type="submit" [disabled]="frmPaciente.invalid">-->
  <button mat-raised-button color="primary" type="submit">
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>
  <button mat-raised-button color="accent" routerLink='/paciente' type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>
</form>