<mat-card>Ingrese los datos del profesor</mat-card>

<br>


<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #frmPaciente="ngForm">

  <div [hidden]="true">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID" required formControlName="id">
    </mat-form-field>
  </div>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Name" required formControlName="name">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Apellido Paterno" required formControlName="paternalLastname">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Apellidos Materno" required formControlName="maternalLastname">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="DNI" required formControlName="dni" type="number">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" required formControlName="email">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Teléfono" required formControlName="phone" type="number">
  </mat-form-field>

  <h4>Grado Educativo</h4>
  <mat-form-field>
    <mat-label>Grado</mat-label>
    <select matNativeControl required>
      <option value="inicial">Inicial</option>
      <option value="primaria">Primaria</option>
      <option value="secundaria">Secundaria</option>
    </select>
  </mat-form-field>

  <!-- <button mat-raised-button color="primary" type="submit" [disabled]="frmPaciente.invalid">-->
  <button mat-raised-button color="primary" type="submit">
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>
  <button mat-raised-button color="accent" routerLink='/paciente' type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>
</form>